body {
  background-color: #ecf0f1;
  font-family: "Cabin", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  max-width: 50%;
  color: #2c3e50;
  font-size: 30px;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #2c3e50;
}

.icon-2x { padding-right: 20px; }
