body {
  background-color: #ecf0f1;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10% 25%;
  color: #2c3e50;
  font-size: 30px;
}

p { text-align: justify; }

a {
  text-decoration: none;
  color: #2980b9;
}
