@font-face { font-family: garamond; src: url('../GaramondNo8-Regular.ttf'); }
@font-face { font-family: garamond; src: url('../GaramondNo8-Bold.ttf'); font-weight: bold; }
@font-face { font-family: garamond; src: url('../GaramondNo8-Italic.ttf'); font-style: italic; }

body {
  font-family: garamond;
  text-align: justify;
  width: 58em;
  padding: 1em;
}

a {
  text-decoration: none;
}

.icon-2x { padding-right: 20px; }

.socials {
  font-size: 22px;
  text-align: center;
}

.socials ul {
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: table;
}

.socials li {
  display: inline-block;
  width: 20%;
}

.socials i {
  display: block;
  width: 100%;
}

@media (max-width: 650px) {
  body {
    text-align: left;
    font-size: 22px;
    max-width: 75%;
  }
}
